body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #BFA11A;
}


.hidden {
    display: none;
}

#start-screen, #input-screen, #result-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

button{
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #BFA11A;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

#start-minimize, #start-close, #input-minimize, #input-close, #results-minimize, #results-close{
    width:20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 50%;
}

#start-minimize:hover, 
#start-close:hover, 
#input-minimize:hover, 
#input-close:hover, 
#results-minimize:hover, 
#results-close:hover{
    background-color: gray;
}


