body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pixelify Sans', snas-serif;
    background-color: #D9D9D9;
}

button{
    z-index: 100000;
}

.hidden {
    display: none;
}

h1{
    font-size: 33px;
}

#start-top,#input-top{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;

}
.img-container{
    position: relative;
}

.img-container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 100%;
}   


#start-body,#input-body{
    width: 90%;
    height: 90%;
    border-radius: 12px;
    border: red;
    box-shadow: 0px 4px 12px;
    
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

#submit-box{
    z-index: 10000;
    position: absolute;
    width: 80%;
    height: 40%;
    background-color: #D9D9D9;
    opacity: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pokemon-input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text-label{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#submit-button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start-button{
    background-color: #EED303;
    width: 40%;
    height: 15%;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'Pixelify Sans', snas-serif;
    font-size: 40px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#submit-button{

}

.screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topright{
    border: none;
    background-color: transparent;
}

button{
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

.icon_minimize{
    width: 25px;
    height: 25px;
    background-image: url(Minimize.png);   
    background-size: contain;
}

.icon_close{
    width: 25px;
    height: 25px;
    background-image: url(Close.png);   
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.drag{
    -webkit-app-region: drag;
    user-select: none;
}

.opacity{
    opacity: 1;
}

.no-drag{
    -webkit-app-region: no-drag;
}

